:root {
  --primary: theme("colors.primarys.100") !important;
  --primaryHover: theme("colors.primarys.200") !important;
  --primaryText: var(--primary) !important;
  --secondaryText: var(--primaryHover) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-Raleway leading-[1.2];
  }
  p {
    @apply font-OpenSans;
  }
}
::-moz-selection {
  @apply bg-primarys-100 text-white;
}
::selection {
  @apply bg-primarys-100 text-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primarys-100;
}

.container {
  @apply px-[20px];
}

.transition, .scroll-up, .faq-wrapper .faq-content > ul > li, .pricing-wrapper .pricing-content > ul .pricing-card, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon, .services-wrapper .services-content .card-wrapper .card-inner-wrapper, .services-wrapper .services-content .card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img, .portfolio-wrapper .container .portfolio-content .portfolio-card, .portfolio-wrapper .container .portfolio-content, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li, .testimonials-wrapper .testimonials-content .sliderCounters .material-symbols-outlined, .testimonials-wrapper .testimonials-content > ul, .brands-wrapper > div > img, header .lightbox-wrapper, header .lightboxLinks .dropdown-box ul li,
header .headerUl .dropdown-box ul li, header .lightboxLinks > li,
header .headerUl > li, header, #mainLightBox, body, .h2-heading, .button-secondary, .button-primary {
  @apply ease-in-out;
}
.transition.t-500, .scroll-up, .faq-wrapper .faq-content > ul > li, .pricing-wrapper .pricing-content > ul .pricing-card, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon, .services-wrapper .services-content .card-wrapper .card-inner-wrapper, .services-wrapper .services-content .card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img, .portfolio-wrapper .container .portfolio-content .transition.portfolio-card, .portfolio-wrapper .container .portfolio-content .portfolio-card.scroll-up, .portfolio-wrapper .container .portfolio-content .faq-wrapper .faq-content > ul > li.portfolio-card, .faq-wrapper .portfolio-wrapper .container .portfolio-content .faq-content > ul > li.portfolio-card, .portfolio-wrapper .container .portfolio-content .pricing-wrapper .pricing-content > ul .portfolio-card.pricing-card, .pricing-wrapper .pricing-content > ul .portfolio-wrapper .container .portfolio-content .portfolio-card.pricing-card, .portfolio-wrapper .container .portfolio-content .services-wrapper .services-content .card-wrapper .portfolio-card.card-inner-wrapper, .services-wrapper .services-content .card-wrapper .portfolio-wrapper .container .portfolio-content .portfolio-card.card-inner-wrapper, .portfolio-wrapper .container .portfolio-content .services-wrapper .services-content .portfolio-card.card-wrapper, .services-wrapper .services-content .portfolio-wrapper .container .portfolio-content .portfolio-card.card-wrapper, .portfolio-wrapper .container .portfolio-content .t-500.portfolio-card, .portfolio-wrapper .container .portfolio-content .portfolio-card, .portfolio-wrapper .container .t-500.portfolio-content, .portfolio-wrapper .container .portfolio-content.scroll-up, .portfolio-wrapper .container .faq-wrapper .faq-content > ul > li.portfolio-content, .faq-wrapper .portfolio-wrapper .container .faq-content > ul > li.portfolio-content, .portfolio-wrapper .container .pricing-wrapper .pricing-content > ul .portfolio-content.pricing-card, .pricing-wrapper .pricing-content > ul .portfolio-wrapper .container .portfolio-content.pricing-card, .portfolio-wrapper .container .services-wrapper .services-content .card-wrapper .portfolio-content.card-inner-wrapper, .services-wrapper .services-content .card-wrapper .portfolio-wrapper .container .portfolio-content.card-inner-wrapper, .portfolio-wrapper .container .services-wrapper .services-content .portfolio-content.card-wrapper, .services-wrapper .services-content .portfolio-wrapper .container .portfolio-content.card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-content.portfolio-card, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li, .testimonials-wrapper .testimonials-content .sliderCounters .material-symbols-outlined, .testimonials-wrapper .testimonials-content > ul.t-500, .testimonials-wrapper .testimonials-content > ul.scroll-up, .testimonials-wrapper .portfolio-wrapper .container .portfolio-content .testimonials-content > ul.portfolio-card, .portfolio-wrapper .container .portfolio-content .testimonials-wrapper .testimonials-content > ul.portfolio-card, .brands-wrapper > div > img, header .lightbox-wrapper, header .lightboxLinks .dropdown-box ul li,
header .headerUl .dropdown-box ul li, header .lightboxLinks > li,
header .headerUl > li, header, #mainLightBox, body.t-500, .portfolio-wrapper .container .portfolio-content body.portfolio-card, .h2-heading, .button-secondary, .button-primary {
  @apply duration-[.5s];
}
.transition.t-750, .t-750.scroll-up, .faq-wrapper .faq-content > ul > li.t-750, .pricing-wrapper .pricing-content > ul .t-750.pricing-card, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .t-750.team-social, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .t-750.icon, .services-wrapper .services-content .card-wrapper .t-750.card-inner-wrapper, .services-wrapper .services-content .t-750.card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .t-750.portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img.t-750, .portfolio-wrapper .container .portfolio-content .t-750.portfolio-card, .portfolio-wrapper .container .transition.portfolio-content, .portfolio-wrapper .container .portfolio-content.scroll-up, .portfolio-wrapper .container .faq-wrapper .faq-content > ul > li.portfolio-content, .faq-wrapper .portfolio-wrapper .container .faq-content > ul > li.portfolio-content, .portfolio-wrapper .container .pricing-wrapper .pricing-content > ul .portfolio-content.pricing-card, .pricing-wrapper .pricing-content > ul .portfolio-wrapper .container .portfolio-content.pricing-card, .portfolio-wrapper .container .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .portfolio-content.team-social, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .portfolio-wrapper .container .portfolio-content.team-social, .portfolio-wrapper .container .services-wrapper .services-content .card-wrapper .card-inner-wrapper .portfolio-content.icon, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .portfolio-wrapper .container .portfolio-content.icon, .portfolio-wrapper .container .services-wrapper .services-content .card-wrapper .portfolio-content.card-inner-wrapper, .services-wrapper .services-content .card-wrapper .portfolio-wrapper .container .portfolio-content.card-inner-wrapper, .portfolio-wrapper .container .services-wrapper .services-content .portfolio-content.card-wrapper, .services-wrapper .services-content .portfolio-wrapper .container .portfolio-content.card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-content.portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img.portfolio-content, .portfolio-wrapper .container .portfolio-content .portfolio-content.portfolio-card, .portfolio-wrapper .container .t-750.portfolio-content, .portfolio-wrapper .container .portfolio-content, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li.t-750, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li.portfolio-content, .testimonials-wrapper .testimonials-content .sliderCounters .t-750.material-symbols-outlined, .testimonials-wrapper .testimonials-content .sliderCounters .portfolio-wrapper .container .material-symbols-outlined.portfolio-content, .portfolio-wrapper .container .testimonials-wrapper .testimonials-content .sliderCounters .material-symbols-outlined.portfolio-content, .testimonials-wrapper .testimonials-content > ul.t-750, .testimonials-wrapper .portfolio-wrapper .container .testimonials-content > ul.portfolio-content, .portfolio-wrapper .container .testimonials-wrapper .testimonials-content > ul.portfolio-content, .brands-wrapper > div > img.t-750, .portfolio-wrapper .container .brands-wrapper > div > img.portfolio-content, header .t-750.lightbox-wrapper, header .portfolio-wrapper .container .lightbox-wrapper.portfolio-content, .portfolio-wrapper .container header .lightbox-wrapper.portfolio-content, header .lightboxLinks .dropdown-box ul li.t-750, header .lightboxLinks .dropdown-box ul .portfolio-wrapper .container li.portfolio-content, .portfolio-wrapper .container header .lightboxLinks .dropdown-box ul li.portfolio-content,
header .headerUl .dropdown-box ul li.t-750,
header .headerUl .dropdown-box ul .portfolio-wrapper .container li.portfolio-content,
.portfolio-wrapper .container header .headerUl .dropdown-box ul li.portfolio-content, header .lightboxLinks > li.t-750, header .portfolio-wrapper .container .lightboxLinks > li.portfolio-content, .portfolio-wrapper .container header .lightboxLinks > li.portfolio-content,
header .headerUl > li.t-750,
header .portfolio-wrapper .container .headerUl > li.portfolio-content,
.portfolio-wrapper .container header .headerUl > li.portfolio-content, header.t-750, .portfolio-wrapper .container header.portfolio-content, .t-750#mainLightBox, .portfolio-wrapper .container #mainLightBox.portfolio-content, body.t-750, .portfolio-wrapper .container body.portfolio-content, .t-750.h2-heading, .portfolio-wrapper .container .h2-heading.portfolio-content, .t-750.button-secondary, .portfolio-wrapper .container .button-secondary.portfolio-content, .t-750.button-primary, .portfolio-wrapper .container .button-primary.portfolio-content {
  @apply duration-[.75s];
}
.transition.t-1000, .t-1000.scroll-up, .faq-wrapper .faq-content > ul > li.t-1000, .pricing-wrapper .pricing-content > ul .t-1000.pricing-card, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .t-1000.team-social, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .t-1000.icon, .services-wrapper .services-content .card-wrapper .t-1000.card-inner-wrapper, .services-wrapper .services-content .t-1000.card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .t-1000.portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img.t-1000, .portfolio-wrapper .container .portfolio-content .t-1000.portfolio-card, .portfolio-wrapper .container .t-1000.portfolio-content, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li.t-1000, .testimonials-wrapper .testimonials-content .sliderCounters .t-1000.material-symbols-outlined, .testimonials-wrapper .testimonials-content > ul, .brands-wrapper > div > img.t-1000, header .t-1000.lightbox-wrapper, header .lightboxLinks .dropdown-box ul li.t-1000,
header .headerUl .dropdown-box ul li.t-1000, header .lightboxLinks > li.t-1000,
header .headerUl > li.t-1000, header.t-1000, .t-1000#mainLightBox, .testimonials-wrapper .testimonials-content > ul#mainLightBox, body.t-1000, .t-1000.h2-heading, .t-1000.button-secondary, .t-1000.button-primary {
  @apply duration-[1.0s];
}
.transition.t-5000, .t-5000.scroll-up, .faq-wrapper .faq-content > ul > li.t-5000, .pricing-wrapper .pricing-content > ul .t-5000.pricing-card, .team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .t-5000.team-social, .services-wrapper .services-content .card-wrapper .card-inner-wrapper .t-5000.icon, .services-wrapper .services-content .card-wrapper .t-5000.card-inner-wrapper, .services-wrapper .services-content .t-5000.card-wrapper, .portfolio-wrapper .container .portfolio-content .portfolio-card .t-5000.portfolio-info, .portfolio-wrapper .container .portfolio-content .portfolio-card img.t-5000, .portfolio-wrapper .container .portfolio-content .t-5000.portfolio-card, .portfolio-wrapper .container .t-5000.portfolio-content, .portfolio-wrapper .container .portfolio-title .portfolio-categories > li.t-5000, .testimonials-wrapper .testimonials-content .sliderCounters .t-5000.material-symbols-outlined, .testimonials-wrapper .testimonials-content > ul.t-5000, .brands-wrapper > div > img.t-5000, header .t-5000.lightbox-wrapper, header .lightboxLinks .dropdown-box ul li.t-5000,
header .headerUl .dropdown-box ul li.t-5000, header .lightboxLinks > li.t-5000,
header .headerUl > li.t-5000, header.t-5000, .t-5000#mainLightBox, body.t-5000, .t-5000.h2-heading, .t-5000.button-secondary, .t-5000.button-primary {
  @apply duration-[5.0s];
}

.button-primary {
  @apply py-[10px] px-[35px] rounded-[30px] border-primarys-100 border-[2px] capitalize text-[18px] text-white hover:bg-primarys-100;
}

.button-secondary {
  @apply py-[10px] px-[35px] bg-primarys-100 capitalize text-[18px] text-white rounded-[4px] hover:bg-primarys-200;
}
.button-secondary.grayed {
  @apply border-[2px] border-solid border-[#c8cedc] text-[#6c7c9f];
  @apply bg-[transparent] hover:bg-[white];
}
.button-secondary.rounded {
  @apply rounded-[30px];
}

.h2-heading {
  @apply flex justify-center mx-[auto] relative uppercase text-[32px] font-bold text-[#444444] text-center pb-[20px] mb-[20px] w-fit;
  font-family: "Montserrat", sans-serif;
}
.h2-heading::after {
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 0;
  @apply bg-primarys-100;
}
.h2-heading:hover::after {
  width: 70px;
}

.p-content {
  @apply font-OpenSans text-center text-[#aab3c7] text-[14px];
}

.title-styling, .faq-wrapper .faq-title, .pricing-wrapper .pricing-title, .team-wrapper .team-title, .services-wrapper .services-title, .testimonials-wrapper .testimonials-title {
  @apply pb-[30px];
}

#mainLightBox {
  @apply w-[100vw] h-[100vh] fixed top-0 left-0 bg-[#000000eb] z-50 opacity-0;
  visibility: hidden;
}
#mainLightBox > :not(#lightBoxClickable) {
  @apply scale-0 transition-[inherit] h-[100%] bg-[white] flex flex-col mx-auto w-[740px] relative;
}
#mainLightBox.visible {
  @apply opacity-100;
  visibility: visible;
}
#mainLightBox.visible > :not(#lightBoxClickable) {
  @apply scale-100;
}

header .lightboxLinks > li,
header .headerUl > li {
  @apply text-[15px] mx-[15px] capitalize text-white hover:text-primarys-100;
}
header .lightboxLinks > li.active,
header .headerUl > li.active {
  @apply text-primarys-100;
}
header .lightboxLinks > li:first-child,
header .headerUl > li:first-child {
  @apply ml-[0];
}
header .lightboxLinks > li:last-child,
header .headerUl > li:last-child {
  @apply mr-[0];
}
header .lightboxLinks .group > a > span,
header .headerUl .group > a > span {
  width: 10px;
}
header .lightboxLinks .group > a > span img,
header .headerUl .group > a > span img {
  -webkit-filter: contrast(0%) brightness(100);
          filter: contrast(0%) brightness(100);
  @apply mx-[4px] w-full;
}
header .lightboxLinks .dropdown-box,
header .headerUl .dropdown-box {
  @apply -ml-[10px];
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
header .lightboxLinks .dropdown-box ul,
header .headerUl .dropdown-box ul {
  @apply py-[5px];
}
header .lightboxLinks .dropdown-box ul li,
header .headerUl .dropdown-box ul li {
  @apply pl-[20px] py-[10px] pr-[130px] text-gray hover:text-primarys-100;
}
header .lightbox-wrapper {
  --h: 8%;
}
header .lightbox-wrapper:before {
  content: "";
  @apply bg-[#2d3545e6] absolute top-0 left-0 h-[100vh] w-[100vw] z-[-1];
}
header .lightbox-wrapper.invisibleBox {
  @apply opacity-0 invisible;
}
header .lightbox-wrapper .cross-wrapper {
  height: var(--h);
}
header .lightbox-wrapper .lightboxLinks {
  @apply relative;
  height: calc(100% - var(--h));
}
header .lightbox-wrapper .lightboxLinks::before {
  content: "";
  @apply absolute bg-[white] h-full w-full top-0 left-0 z-[-1];
}
header .lightbox-wrapper .lightboxLinks > li {
  @apply mx-[20px] text-[#414c64] my-[10px] w-full;
}
header .lightbox-wrapper .lightboxLinks > li.active {
  @apply text-primarys-100;
}
header .lightbox-wrapper .lightboxLinks > li:first-child {
  @apply mx-[20px];
}

.banner-wrapper {
  @apply bg-bannerBg bg-cover w-[100%] bg-center bg-fixed bg-no-repeat;
}
.banner-wrapper::before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.brands-wrapper > div {
  @apply w-1/2 flex justify-center items-center py-[30px] sm:w-[30%] lg:w-[15%];
}
.brands-wrapper > div > img {
  @apply max-w-[45%] grayscale hover:grayscale-0 hover:scale-[1.2];
}

.about-wrapper .about-inner-wrapper {
  @apply flex-col md:flex-row;
}
.about-wrapper .about-inner-wrapper > div {
  @apply w-full md:w-1/2 px-[12px];
}
.about-wrapper .about-inner-wrapper > div:last-child {
  @apply pt-[30px] md:pt-0;
}
.about-wrapper .about-inner-wrapper .rhs .rhs-card-wrapper {
  @apply flex;
}
.about-wrapper .about-inner-wrapper .rhs .rhs-card-wrapper .rhs-card {
  @apply flex w-1/2 flex-col mr-[10px];
}
.about-wrapper .about-inner-wrapper .rhs .rhs-card-wrapper .rhs-card span {
  @apply text-[#8b97b3] text-[48px] mt-[15px];
}
.about-wrapper .about-inner-wrapper .rhs .rhs-card-wrapper .rhs-card h4 {
  @apply text-[#444444] text-[20px] font-[700] mt-[5px];
}
.about-wrapper .about-inner-wrapper .rhs .rhs-card-wrapper .rhs-card p {
  @apply text-lightGray text-[15px] mb-1 w-[95%];
}

.count-wrapper .count-inner-wrapper .counter-col {
  @apply w-1/2 md:w-1/4 flex flex-col items-center;
}
.count-wrapper .count-inner-wrapper .counter-col:last-child, .count-wrapper .count-inner-wrapper .counter-col:nth-last-child(2) {
  @apply pt-[20px] sm:pt-[20px] md:p-0;
}
.count-wrapper .count-inner-wrapper .counter-col h5 {
  @apply text-[48px] text-gray font-OpenSans;
}
.count-wrapper .count-inner-wrapper .counter-col p {
  @apply text-[14px] text-[#444444];
}

.testimonials-wrapper .testimonials-content {
  @apply w-full mb-[30px];
  @apply overflow-hidden;
}
.testimonials-wrapper .testimonials-content > ul {
  @apply flex;
  --width: 33%;
}
@media screen and (max-width: 1336px) {
  .testimonials-wrapper .testimonials-content > ul {
    --width: 33%;
  }
}
@media screen and (max-width: 1280px) {
  .testimonials-wrapper .testimonials-content > ul {
    --width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .testimonials-wrapper .testimonials-content > ul {
    --width: 100%;
  }
}
.testimonials-wrapper .testimonials-content > ul.default {
  overflow-x: scroll;
  padding-bottom: 20px;
}
.testimonials-wrapper .testimonials-content > ul.noTransition {
  -webkit-transition: none !important;
  transition: none !important;
}
.testimonials-wrapper .testimonials-content > ul.noTransition li {
  -webkit-transition: none !important;
  transition: none !important;
}
.testimonials-wrapper .testimonials-content > ul li {
  width: var(--width);
  min-width: var(--width);
  @apply px-[20px] transition-[inherit] overflow-hidden;
}
.testimonials-wrapper .testimonials-content > ul li.shrink {
  @apply scale-0;
}
.testimonials-wrapper .testimonials-content > ul li > div {
  @apply flex flex-col rounded-[20px] transition-[inherit];
}
.testimonials-wrapper .testimonials-content > ul li > div p {
  @apply p-[20px] text-[16px] italic bg-[#fafafc] pb-[50px] rounded-[inherit] rounded-b-none;
}
.testimonials-wrapper .testimonials-content > ul li > div p span {
  @apply text-primarys-100 rounded-[10px] opacity-[.5];
}
.testimonials-wrapper .testimonials-content > ul li > div p span.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.testimonials-wrapper .testimonials-content > ul li > div p span:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.testimonials-wrapper .testimonials-content > ul li > div > div {
  @apply px-[20px];
}
.testimonials-wrapper .testimonials-content > ul li > div > div img {
  @apply mt-[-20px] mb-[5px] rounded-[50%] w-[90px] border-[6px] border-[#fff];
}
.testimonials-wrapper .testimonials-content > ul li > div > div h3 {
  @apply text-[18px] font-[600] text-[#111] capitalize;
}
.testimonials-wrapper .testimonials-content > ul li > div > div h4 {
  @apply text-[14px] font-[500] text-[#999] capitalize;
}
.testimonials-wrapper .testimonials-content .sliderCounters .material-symbols-outlined {
  @apply text-primarys-100 cursor-pointer text-[22px];
}
.testimonials-wrapper .testimonials-content .sliderCounters .material-symbols-outlined.active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.portfolio-wrapper .container .portfolio-title .portfolio-categories > li {
  @apply capitalize text-[#414c64] rounded-[50px] py-[5px] px-[20px] mx-[5px] bg-[#fafafc] cursor-pointer hover:bg-primarys-100;
}
.portfolio-wrapper .container .portfolio-title .portfolio-categories > li.active {
  @apply bg-primarys-100;
}
.portfolio-wrapper .container .portfolio-content {
  @apply relative overflow-hidden items-center justify-center sm:justify-start;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card {
  @apply overflow-hidden flex flex-col items-center mb-[30px] px-[15px] w-full max-w-[550px] sm:w-1/2 md:w-1/2 lg:w-1/3;
  @apply relative;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card:hover {
  @apply scale-[1.05];
}
.portfolio-wrapper .container .portfolio-content .portfolio-card.hide {
  @apply translate-x-[100%] z-[-1] scale-0 p-0 m-0 w-0 opacity-0;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card img {
  @apply delay-300;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info {
  @apply px-[20px] py-[15px] absolute bottom-0 left-[unset] mt-[-20px] flex items-center justify-between bg-primarys-100 w-[90%] text-[white];
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info > div {
  @apply flex;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info > div:first-child {
  @apply flex-col;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info > div:first-child h4 {
  @apply mb-[8px] text-[18px] font-[800] capitalize;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info > div:first-child p {
  @apply text-[14px] font-[400] capitalize;
}
.portfolio-wrapper .container .portfolio-content .portfolio-card .portfolio-info > div:not(:first-child) a {
  @apply ml-[15px];
}

.services-wrapper .services-content {
  @apply flex flex-wrap;
}
.services-wrapper .services-content .card-wrapper {
  @apply flex px-[12px] w-full sm:w-1/2 md:w-1/2 lg:w-1/3;
}
.services-wrapper .services-content .card-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper {
  -webkit-box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  @apply flex flex-col items-center pt-[70px] pr-[20px] pb-[80px] pl-[20px] mb-[24px] cursor-pointer w-full;
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper:hover {
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon {
  @apply flex w-[64px] h-[64px] justify-center items-center relative rounded-[50%];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon span {
  @apply text-[32px] relative transition-[inherit];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper h4 {
  @apply w-full text-center text-gray text-[22px] font-[600] mt-[10px] mb-[15px];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper p {
  @apply w-full text-center font-OpenSans text-[14px] text-[#444444] font-[400];
}

.team-wrapper .team-content {
  @apply flex flex-wrap justify-center;
}
.team-wrapper .team-content .team-card-wrapper {
  @apply flex px-[12px] w-full max-w-[550px] sm:w-1/2 md:w-1/2 lg:w-1/4;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper {
  @apply mb-[20px] rounded-[5px] overflow-hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
          box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img {
  @apply relative;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social {
  @apply items-center absolute flex bottom-0 w-full justify-center py-[5px];
  background-color: rgba(255, 255, 255, 0.85);
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div {
  @apply transition-[inherit] mx-[5px] w-[25px] h-[25px] flex justify-center items-center;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a {
  @apply fill-[#414c64] transition-[inherit] hover:fill-primarys-100;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a svg {
  width: 22px !important;
  max-width: 22px !important;
  @apply fill-[inherit] hover:fill-[inherit] w-[25px] transition-[inherit];
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a svg path {
  @apply fill-[inherit] hover:fill-[inherit];
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-card-content {
  @apply flex flex-col items-center py-[25px] px-[15px] bg-white;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-card-content h4 {
  @apply text-center text-[18px] text-[#414c64] font-[700] mb-[5px] font-Raleway;
}
.team-wrapper .team-content .team-card-wrapper .team-inner-wrapper .team-card-content span {
  @apply text-center text-[13px] font-[400] text-[#aaaaaa] font-OpenSans;
}

.pricing-wrapper .pricing-content {
  @apply pb-[30px];
}
.pricing-wrapper .pricing-content > ul .pricing-card {
  @apply w-1/4 p-[10px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div {
  @apply bg-white text-center rounded-[5px] relative overflow-hidden flex flex-col items-center transition-[inherit];
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.pricing-wrapper .pricing-content > ul .pricing-card > div:hover {
  @apply scale-[1.05];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-type {
  @apply py-[20px] px-[15px] text-[#777777] bg-[#f8f8f8] w-full capitalize font-[600] mb-[20px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-price {
  @apply text-primarys-100 font-[600] mb-[20px] text-[36px] font-Poppins;
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-price > sup {
  @apply text-[20px] top-[-15px] left-[-13px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-price > span {
  @apply text-[#bababa] font-[300] text-[16px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-card-list {
  @apply w-full p-0 text-[#444444] text-center text-[14px] mb-[20px];
  line-height: 1.42;
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-card-list > li {
  @apply pb-[16px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .pricing-card-list > li.strike {
  @apply text-[#ccc];
  text-decoration: line-through;
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .btn-wrap {
  @apply w-full bg-[#f8f8f8] py-[25px] px-[15px];
}
.pricing-wrapper .pricing-content > ul .pricing-card > div .btn-wrap > a {
  @apply text-[14px] font-[600] font-Raleway;
}
.pricing-wrapper .pricing-content > ul .pricing-card.active > div .pricing-type {
  @apply bg-primarys-100 text-white;
}
.pricing-wrapper .pricing-content > ul .pricing-card.active > div .btn-wrap > a {
  @apply bg-primarys-100 border-primarys-100 text-white hover:bg-primarys-200;
}
.pricing-wrapper .pricing-content > ul .pricing-card.advanced > div {
  position: relative;
}
.pricing-wrapper .pricing-content > ul .pricing-card.advanced > div::after {
  content: var(--cntnt);
  position: absolute;
  text-transform: capitalize;
  top: 25px;
  right: -90px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  @apply bg-primarys-100;
}

.faq-wrapper .faq-content {
  @apply items-center;
}
.faq-wrapper .faq-content > ul {
  @apply w-full px-[100px];
}
.faq-wrapper .faq-content > ul > li {
  @apply bg-white p-[20px] rounded-[4px] relative max-h-[250px] overflow-hidden;
}
.faq-wrapper .faq-content > ul > li:not(:last-child) {
  @apply mb-[15px];
}
.faq-wrapper .faq-content > ul > li.collapsed {
  @apply max-h-[64px];
}
.faq-wrapper .faq-content > ul > li.collapsed .title > div {
  @apply text-[#343a40];
}
.faq-wrapper .faq-content > ul > li.collapsed .title > div .material-symbols-outlined {
  @apply rotate-0;
}
.faq-wrapper .faq-content > ul > li .title {
  @apply flex items-center cursor-pointer transition-[inherit];
}
.faq-wrapper .faq-content > ul > li .title:hover > div {
  @apply text-primarys-100;
}
.faq-wrapper .faq-content > ul > li .title > i {
  @apply text-primarys-100 transition-[inherit];
}
.faq-wrapper .faq-content > ul > li .title > div {
  @apply text-primarys-100 pl-[10px] flex items-center justify-between w-full relative capitalize transition-[inherit];
}
.faq-wrapper .faq-content > ul > li .title > div .material-symbols-outlined {
  @apply transition-[inherit] rotate-180;
}
.faq-wrapper .faq-content > ul > li .title > div .accordion-title {
  @apply pr-[10px] font-Poppins text-[16px] leading-[24px] font-[600];
}
.faq-wrapper .faq-content > ul > li .content {
  @apply relative pt-[15px] text-[#444444] text-[16px] font-[400] leading-[24px];
}

.scroll-up {
  @apply fixed bg-primarys-100 p-[10px] rounded-[50%] right-[15px] bottom-[15px] flex justify-center items-center hover:bg-primarys-200;
}
.scroll-up.hidden-elem {
  @apply invisible opacity-0;
}
.scroll-up span {
  @apply text-white;
}

.footerSection.section1 > a > img {
  -webkit-filter: hue-rotate(535deg) contrast(2.5);
          filter: hue-rotate(535deg) contrast(2.5);
}