@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
  }

  p {
    @apply font-OpenSans;
  }
}
body {
  @apply transition ease-in-out duration-[.5s];
  @layer bg-blue-700;
}

header.scrollBg {
  @apply bg-[#374055e6];
}

.headerUl > li.active {
  @apply text-orange;
}
.headerUl > li {
  @apply text-[15px] transition ease-in-out duration-[.5s] mx-[15px] capitalize text-white hover:text-orange;
}
.headerUl > li:first-child {
  @apply ml-[0];
}
.headerUl > li:last-child {
  @apply mr-[0];
}
.headerUl .group > a > span {
  width: 10px;
}
.headerUl .group > a > span img {
  -webkit-filter: contrast(0%) brightness(100);
          filter: contrast(0%) brightness(100);
  @apply mx-[4px] w-full;
}
.headerUl .dropdown-box {
  @apply -ml-[10px];
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.headerUl .dropdown-box ul {
  @apply py-[5px];
}
.headerUl .dropdown-box ul li {
  @apply transition ease-in-out duration-[.5s] pl-[20px] py-[10px] pr-[130px] text-gray hover:text-orange;
}

.banner-wrapper {
  @apply bg-bannerBg bg-cover w-[100%] bg-center bg-fixed bg-no-repeat;
}
.banner-wrapper::before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.brands-wrapper > div {
  @apply w-[15%] flex justify-center items-center py-[30px];
}
.brands-wrapper > div > img {
  @apply max-w-[45%] grayscale transition ease-in-out duration-[.5s] hover:grayscale-0 hover:scale-[1.2];
}

.about-wrapper .about-inner-wrapper > div {
  @apply w-1/2 px-[12px];
}
.about-wrapper .rhs .rhs-card-wrapper {
  @apply flex;
}
.about-wrapper .rhs .rhs-card-wrapper .rhs-card {
  @apply flex w-1/2 flex-col;
}
.about-wrapper .rhs .rhs-card-wrapper .rhs-card span {
  @apply text-[#8b97b3] text-[48px] mt-[15px];
}
.about-wrapper .rhs .rhs-card-wrapper .rhs-card h4 {
  @apply text-[#444444] text-[20px] font-[700] mt-[5px];
}
.about-wrapper .rhs .rhs-card-wrapper .rhs-card p {
  @apply text-lightGray text-[15px] mb-1 w-[95%];
}

.count-wrapper .count-inner-wrapper .counter-col {
  @apply w-1/4 flex flex-col items-center;
}
.count-wrapper .count-inner-wrapper .counter-col h5 {
  @apply text-[48px] text-gray font-OpenSans;
}
.count-wrapper .count-inner-wrapper .counter-col p {
  @apply text-[14px] text-[#444444];
}

.testimonials-wrapper .testimonials-content {
  @apply w-full overflow-x-scroll my-[30px];
}
.testimonials-wrapper .testimonials-content ul {
  @apply flex justify-between;
}
.testimonials-wrapper .testimonials-content ul li {
  @apply px-[20px] min-w-[33%] w-[33%] overflow-hidden;
}
.testimonials-wrapper .testimonials-content ul li > div {
  @apply flex flex-col rounded-[20px];
}
.testimonials-wrapper .testimonials-content ul li > div p {
  @apply p-[20px] text-[16px] italic bg-[#fafafc] pb-[50px] rounded-[inherit] rounded-b-none;
}
.testimonials-wrapper .testimonials-content ul li > div p span {
  @apply text-[#ffe7a0];
}
.testimonials-wrapper .testimonials-content ul li > div p span.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.testimonials-wrapper .testimonials-content ul li > div p span:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.testimonials-wrapper .testimonials-content ul li > div > div {
  @apply px-[20px];
}
.testimonials-wrapper .testimonials-content ul li > div > div img {
  @apply mt-[-20px] mb-[5px] rounded-[50%] w-[90px] border-[6px] border-[#fff];
}
.testimonials-wrapper .testimonials-content ul li > div > div h3 {
  @apply text-[18px] font-[600] text-[#111];
}
.testimonials-wrapper .testimonials-content ul li > div > div h4 {
  @apply text-[14px] font-[500] text-[#999];
}

.services-wrapper .services-content {
  @apply flex flex-wrap;
}
.services-wrapper .services-content .card-wrapper {
  @apply flex w-1/3 px-[12px];
  @apply transition ease-in-out duration-[.5s];
}
.services-wrapper .services-content .card-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper {
  -webkit-box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  @apply flex flex-col items-center pt-[70px] pr-[20px] pb-[80px] pl-[20px] mb-[24px] cursor-pointer;
  @apply transition ease-in-out duration-[.5s];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper:hover {
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon {
  @apply flex w-[64px] h-[64px] justify-center items-center relative rounded-[50%];
  @apply transition ease-in-out duration-[.5s];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper .icon span {
  @apply transition ease-in-out duration-[.5s];
  @apply text-[32px] relative;
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper h4 {
  @apply w-full text-center text-gray text-[22px] font-[600] mt-[10px] mb-[15px];
}
.services-wrapper .services-content .card-wrapper .card-inner-wrapper p {
  @apply w-full text-center font-OpenSans text-[14px] text-[#444444] font-[400];
}

.team-content {
  @apply flex flex-wrap;
}
.team-content .team-card-wrapper {
  @apply w-1/4 flex px-[12px];
}
.team-content .team-card-wrapper .team-inner-wrapper {
  @apply mb-[20px] rounded-[5px] overflow-hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
          box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img {
  @apply relative;
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social {
  @apply items-center absolute flex bottom-0 w-full justify-center py-[5px];
  @apply transition ease-in-out duration-[.5s];
  background-color: rgba(255, 255, 255, 0.85);
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div {
  @apply mx-[5px] w-[25px] h-[25px] flex justify-center items-center;
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a {
  @apply fill-[#414c64] hover:fill-primary;
  @apply transition ease-in-out duration-[.5s];
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a svg {
  @apply fill-[inherit] hover:fill-[inherit];
}
.team-content .team-card-wrapper .team-inner-wrapper .team-img .team-social div a svg path {
  @apply fill-[inherit] hover:fill-[inherit];
}
.team-content .team-card-wrapper .team-inner-wrapper .team-content {
  @apply flex flex-col items-center py-[25px] px-[15px];
}
.team-content .team-card-wrapper .team-inner-wrapper .team-content h4 {
  @apply text-[18px] text-[#414c64] font-[700] mb-[5px] font-Raleway;
}
.team-content .team-card-wrapper .team-inner-wrapper .team-content span {
  @apply text-[13px] font-[400] text-[#aaaaaa] font-OpenSans;
}

.scroll-up {
  @apply fixed bg-yellow p-[10px] rounded-[50%] right-[15px] bottom-[15px] flex justify-center items-center;
  @apply transition ease-in-out duration-[.5s];
}
.scroll-up.hidden-elem {
  @apply invisible opacity-0;
}
.scroll-up span {
  @apply text-white;
}

.button {
  @apply transition ease-in-out duration-[.5s] py-[10px] px-[35px] rounded-[30px] border-primary border-[2px] capitalize text-[18px] text-white hover:bg-primary;
}

.h2-heading {
  @apply relative uppercase text-[32px] font-bold text-[#444444] text-center pb-[20px] mb-[20px];
}
.h2-heading::after {
  content: "";
  background: #ffc107;
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: calc(50% - 25px);
}

.p-content {
  @apply font-OpenSans text-center text-[#aab3c7] text-[14px];
}