@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	html {
		font-family: 'Raleway', sans-serif;
	}
}

.headerUl {
	> li.active {
		@apply text-orange;
	}
	> li {
		@apply text-[15px] transition ease-in-out duration-[.5s] mx-[15px] capitalize text-white hover:text-orange;

		&:first-child {
			@apply ml-[0];
		}
		&:last-child {
			@apply mr-[0];
		}
	}

	.group > a > span {
		width: 10px;
		img {
			filter: brightness(6) contrast(3);
			@apply mx-[4px] w-full;
		}
	}
	.dropdown {
		@apply -ml-[10px];
		li {
			@apply pl-[20px] py-[10px] pr-[130px];
		}
	}
}
.banner-wrapper {
	@apply relative bg-bannerBg bg-cover;
	&::after {
		content: '';
		background: rgba(45, 53, 69, 0.7);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
}
// .headerUl {
// 	li:hover {
// 		@apply text-orange;
// 	}
// }
