@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	html {
		font-family: 'Raleway', sans-serif;
	}
}
body {
	height: 5000px;
}
header.scrollBg {
	@apply bg-[#374055e6];
}
.headerUl {
	> li.active {
		@apply text-orange;
	}
	> li {
		@apply text-[15px] transition ease-in-out duration-[.5s] mx-[15px] capitalize text-white hover:text-orange;

		&:first-child {
			@apply ml-[0];
		}
		&:last-child {
			@apply mr-[0];
		}
	}

	.group > a > span {
		width: 10px;
		img {
			filter: brightness(6) contrast(3);
			@apply mx-[4px] w-full;
		}
	}
	.dropdown {
		@apply -ml-[10px];
		li {
			@apply pl-[20px] py-[10px] pr-[130px];
		}
	}
}
.banner-wrapper {
	@apply bg-bannerBg bg-cover w-[100%] bg-center bg-fixed bg-no-repeat;
	&::before {
		content: '';
		background: rgba(45, 53, 69, 0.7);
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
	}
}
.brands-wrapper {
	> div {
		// @apply w-1/6;
		@apply w-[15%] flex justify-center items-center py-[20px];
		> img {
			@apply max-w-[45%] grayscale transition ease-in-out duration-[.5s] hover:grayscale-0 hover:scale-[1.2];
		}
	}
}
// .headerUl {
// 	li:hover {
// 		@apply text-orange;
// 	}
// }
