@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}
body {
  height: 5000px;
}

header.scrollBg {
  @apply bg-[#374055e6];
}

.headerUl > li.active {
  @apply text-orange;
}
.headerUl > li {
  @apply text-[15px] transition ease-in-out duration-[.5s] mx-[15px] capitalize text-white hover:text-orange;
}
.headerUl > li:first-child {
  @apply ml-[0];
}
.headerUl > li:last-child {
  @apply mr-[0];
}
.headerUl .group > a > span {
  width: 10px;
}
.headerUl .group > a > span img {
  -webkit-filter: brightness(6) contrast(3);
          filter: brightness(6) contrast(3);
  @apply mx-[4px] w-full;
}
.headerUl .dropdown {
  @apply -ml-[10px];
}
.headerUl .dropdown li {
  @apply pl-[20px] py-[10px] pr-[130px];
}

.banner-wrapper {
  @apply bg-bannerBg bg-cover w-[100%] bg-center bg-fixed bg-no-repeat;
}
.banner-wrapper::before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.brands-wrapper {
  @apply mt-[30px];
}
.brands-wrapper > div {
  @apply w-[15%] flex justify-center items-center py-[20px];
}
.brands-wrapper > div > img {
  @apply max-w-[45%] grayscale transition ease-in-out duration-[.5s] hover:grayscale-0 hover:scale-[1.2];
}